html{
	min-width: 1000px;
}

.container-fluid{
	width: 1680px;}
.base{
	width: 100%;
    padding-bottom: 55%;
    position: relative;
 }

#welcome{
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/lab.jpg");
	background-size: cover; 
}

#welcome_div{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	font-family: "Lato";
	font-size: 40px;
	font-weight: lighter;
	line-height: 1;
	text-align: center;
	color: #ffffff;
	padding-bottom: 43px;
}

#arrow_img{
	width: 60px;
	height: 60px;
	margin-top: 43px;
}
#process_title{
	padding: 242px 0px 133px 0px;
	font-family: Lato;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	color: #19bc9c;
}
.regular{
	font-family: Lato;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.25;
	text-align: center;
	color: #19bc9c;
}
.justify{
	text-align: justify;
}
#process_icons{
	padding-left: 19%;
}

.process_div{
	text-align: center;
	padding-right: 50px;
	margin-bottom: 308px;
}

.process_arrow{
	position: absolute;
	right: 0px;
	top:50px;
}
#process_img1{
	width: 171px;
	height: 107px;
	margin: 0px 0px 96px 0px;
}
#process_img2{
	width: 165px;
	height: 98px;
	margin: 26px 0px 79px 0px;
}
#process_img3{
	width: 157px;
	height: 111px;
	margin: 10px 0px 82px 0px;
}
#process_img4{
	width: 85px;
	height: 118px;
	margin: 11px 0px 74px 0px;
}
#process_img5{
	width: 97px;
	height: 110px;
	margin: 13px 0px 80px 0px;
}
.regular_heading{
	font-family: Lato;
	font-size: 40px;
	font-weight: 300;
	color: #19bc9c;
	margin-bottom: 25px;
}

.text_box_right{
	width: 684px;
	margin-top: 441px;
	margin-right: 136px;
	margin-left: 50px;
}
.text_box_left{
	width: 684px;
	margin-top: 441px;
	margin-left: 131px;
	margin-right: 119px;
}
.shadow{
	box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.05) inset;
}
#lab{
	height: 991px;
}

#video{
    width: 625px;
    height: 740px;
    margin: 124px 0px 124px 119px;
    background-image: url(../images/play-btn.svg), url(../images/image-copy.png);
    background-position: center, left top;
    background-repeat: no-repeat, no-repeat;
	background-size: 200px, contain;
	box-shadow: -1px -1px 300px -57px rgba(0,0,0,0.39);
}
#map{
	position: absolute;
	right: 120px;
	margin-top: 126px;
	width: 625px;
  	height: 740px;
  	object-fit: contain;
}
#trials{
	height: 991px;
}
#father{
	position: absolute;
	left: 120px;
	margin-top: 142px;
	width: 625px;
  	height: 740px;
  	object-fit: contain;
}
#story{
	height: 1024px;
}
.logos{
	height: 100px;
}
.outer{
	position: relative;
	margin-left: 10%;
	width: 80%;
	overflow: hidden;
	height: 100px;
}
.gradient{
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, white, transparent, white);
	z-index: 5;
}

.icon_big_left{
	position: absolute;
	top: 10px;
	height: 80px;
	z-index: 6;
	left:0px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.icon_big_right{
	position: absolute;
	top: 10px;
	height: 80px;
	z-index: 6;
	right:0px;
	transform: rotate(-90deg);
}
.inner{
	position:absolute;
	left:40px;
	width: 80%;
	height: 100px;
}
.inner_img{
	margin: auto 0px;
	top: 0;
	bottom: 0;
	position: absolute;
	width: auto;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
#companies{
	height: 995px;
}
.companies_heading{
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #19bc9c;
}
#press_heading{
	margin-top: 203px;
	margin-bottom: 16px;
}
#partners_heading{
	margin-top: 92px;
	margin-bottom: 16px;
}
#investors_heading{
	margin-top: 106px;
	margin-bottom: 16px;
}
#contact_heading{
	margin-top: 69px;
	margin-bottom: 47px;
	text-align: center;
}

.entry{
	height: 60px;
	border-radius: 5px;
	background-color: #f6f6f6;
	border: solid 2px #e5e5e5;
	margin-bottom: 10px;
	font-family: Lato;
	font-size: 17px;
	font-weight: normal;
	line-height: 1;
	color: #999999;
}
.entry_text{
	padding: 21px;
	resize: none;
  	border-radius: 5px;
  	background-color: #f6f6f6;
  	border: solid 2px #e5e5e5;
  	font-family: Lato;
	font-size: 17px;
	font-weight: normal;
	line-height: 1;
	color: #999999;
	margin-bottom: 10px;
}
.entry_submit{
	width: 100%;
	height: 60px;
	border-radius: 5px;
	background-color: #19bc9c;
	font-family: Lato;
	font-size: 17px;
	font-weight: bold;
	line-height: 1;
	color: #ffffff;
}
#contact{
	height: 576px;
}
.form_column{
	padding: 5px;
}
#to_top{
	position: absolute;
	right: 29px;
	bottom: 31px;
}
#to_top_wrapper{
	position: relative;
	width: 100%;
	height: 576px; 
}