html{
	min-width: 1000px;
}

.container-fluid{
	width: 1680px;}
.base{
	width: 100%;
    padding-bottom: 55%;
    position: relative;
 }

#welcome{
	background-image: url("../images/lab.jpg");
	background-size: cover; 
}

#welcome_div{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	font-family: "Lato";
	font-size: 40px;
	font-weight: lighter;
	line-height: 1;
	text-align: center;
	color: #ffffff;
	padding-bottom: 43px;
}

#arrow_img{
	width: 60px;
	height: 60px;
	margin-top: 43px;
}
#process_title{
	padding: 242px 0px 133px 0px;
}
#process_title{
	font-family: Lato;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	color: #19bc9c;
}
.regular{
	font-family: Lato;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.25;
	text-align: center;
	color: #19bc9c;
}
.justify{
	text-align: justify;
}
#process_icons{
	padding-left: 19%;
}

.process_div{
	text-align: center;
	padding-right: 50px;
	margin-bottom: 308px;
}

.process_arrow{
	position: absolute;
	right: 0px;
	top:50px;
}
#process_img1{
	width: 171px;
	height: 107px;
	margin: 0px 0px 96px 0px;
}
#process_img2{
	width: 165px;
	height: 98px;
	margin: 26px 0px 79px 0px;
}
#process_img3{
	width: 157px;
	height: 111px;
	margin: 10px 0px 82px 0px;
}
#process_img4{
	width: 85px;
	height: 118px;
	margin: 11px 0px 74px 0px;
}
#process_img5{
	width: 97px;
	height: 110px;
	margin: 13px 0px 80px 0px;
}
.regular_heading{
	font-family: Lato;
	font-size: 40px;
	font-weight: 300;
	color: #19bc9c;
	margin-bottom: 25px;
}
.text_box_right{
	width: 684px;
	margin-top: 441px;
	margin-right: 136px;
	margin-left: 50px;
}
.text_box_left{
	width: 684px;
	margin-top: 441px;
	margin-left: 131px;
	margin-right: 119px;
}
.shadow{
	box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.05) inset;
}
#lab{
	height: 991px;
}

#video{
    width: 625px;
    height: 740px;
    margin: 124px 0px 124px 119px;
    background-image: url(../images/play-btn.svg), url(../images/image-copy.png);
    background-position: center, left top;
    background-repeat: no-repeat, no-repeat;
	background-size: 200px, contain;
	box-shadow: -1px -1px 300px -57px rgba(0,0,0,0.39);
}
#map{
	position: absolute;
	right: 120px;
	margin-top: 126px;
	width: 625px;
  	height: 740px;
  	object-fit: contain;
}
#trials{
	height: 991px;
}
#father{
	position: absolute;
	left: 120px;
	margin-top: 142px;
	width: 625px;
  	height: 740px;
  	object-fit: contain;
}
#story{
	height: 1024px;
}